*{
    margin: 0;
    padding: 0;
}

header{
    background-color:black;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-logo{
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 20px;
}
.lista-cabelalho{
    display: flex;
} 
.imagem-colegio{
    width: 20%;
    height: 20%;
}
.Escola{
    background-image: linear-gradient(black,blue);
    color: whitesmoke;
    display: flex;
}
.escola-div-conteudo{
    width: 35%;
}
.escola{
    background-image: linear-gradient(purple,pink);
    color: whitesmoke;
font-size: 21px;
padding: 350px 250px;
}
.escola-titulo{
    padding: 24px 0;
}